.join {
    background-color: #f9f9f9;
}
.joinpg {
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    top: 90px;
    border-top: 4px solid gray;
}
.defaulttable tr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
